@import "tailwindcss";

.hexagon {
    --b: 10px; /* adjust to control the border  */
    height: 400px; /* adjust to control the size  */
    aspect-ratio: 1/cos(30deg);
    clip-path: 
      polygon(0 50%,50% -50%,100% 50%,50% 150%,0 50%,
      var(--b) 50%,
      calc(25% + var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
      calc(75% - var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
      calc(100% - var(--b)) 50%,
      calc(75% - var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
      calc(25% + var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
      var(--b) 50%);
    background: #3B8686;
}